body {
	font: 12px "Helvetica", Arial, sans-serif;
	background-color: #FDFCF0;
}
.container {
	width: 60%;
	margin-left: 20%;
}
.top-util ul, .top-util li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.top-util-left {
	font-size: 10px;
	line-height: 25px;

}
#top-util-right {
	font-size: 14px;
	float: right;

}
.util-logo {
	width: 25px;
	height: 25px;
	margin-right: 5px;
	float: left;
}
a {
	text-decoration: none;
	color: black;
	display: block;
}
a:hover {
	text-decoration: underline;
}
header {
	background: url('images/header-bg.png');
	height: 120px;
}
.clear {
	clear: both;
}
.logo {
	width: 240px;
	height: 60px;
	float: left;
	margin: 30px 30px 0 0;
}
.head-nav {
	float: left;
	margin-top: 60px;
	position: relative;
	margin-left: 50px;
}
.cul-logo {
	position: absolute;
	top: -40px;
    left: 250px;
}
.head-nav ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	float: left;
}
.head-nav ul li a {
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	text-decoration: none;
}
.main-container {
	background: url('images/bricks-bg.png');
	margin-top: 10px;
	min-height: 450px;
}
.footer {
	background: url('images/footer-bg.png');
	left: 0;
	bottom: 0;
	min-height: 280px;
	width: 100%;
}
.footer-top {
	height: 50px;
}
.footer-nav ul li {
	list-style: none;
	display: inline-block;
	float: left;
	padding: 5px 5px;
}
.footer-nav ul {
	position: absolute;
	left: 18%;
}
.footer-nav ul li a {
	text-decoration: none;
}
.footer-logo {
	width: 110px;
	height: 30px;
	margin-top: 55px;
	float: left;
}
.copyright {
	padding-top: 60px;
	padding-left: 20px;
	float: left;
}
.left {
	float: left;
}
.trailer-poster {
	padding: 0 40%;
}
.title {
	color: #A21F04;
	padding: 10px 30px;
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
}
.height-medium {
	min-height: 250px;
}
.height-large {
	min-height: 350px;
}
.movie-info li {
	list-style: none;
	padding: 5px 0;
}
.movie-synp {
	font-size: 16px;
	line-height: 40px;
	float: right;
}
.custom-width {
	width: 60%;
}
.schedule li {
	list-style: none;
	padding: 5px 0;
	font-size: 14px;
	color: #A21F04;
	font-weight: bold;
}
input[type="radio"] {
	display: inline;
}
.right {
	float: right;
}
.schedule {
	border-bottom: 1px solid grey;
}
input[type="submit"] {
	border: 0;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	background-color: #A21F04;
	color: white;
	font-size: 18px;
}
.movie {
    float: left;
    width: 33.33%;
}

.movies:after {
    content: "";
    display: table;
    clear: both;
}
.poster{
height: 450px;
width: 300px;

}
.title{
	font-size: 12 pt;
	font-weight: bold;
}

.main-container .info-container .seatNum,
.main-container .info-container .houseNum{
	color: #e3c27b;
	font-family: "Impact";
	font-size: 70px;
	position: relative;
    left:390px;
}

.main-container .info-container .seatUnit,
.main-container .info-container .houseUnit{
	text-transform: uppercase;
	color:#e3c27b;
	font-family: "Impact";
	font-size: 32px;
	position: relative;
    left:390px;

}
.main-container .info-container .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-container .info-container .local{
	color: #A21F04;
	font-family: "Impact";
	font-size: 40px;
	position: relative;
    left:390px;
}
.main-container .info-container .btn {
    border: 1px transparent;
    background-color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    float: left;
    position: relative;
    left:390px;
  }

.main-container .info-container .btn:hover{

color: white;
}
.main-container .info-container .btn:focus{
outline: 0;
}

.main-container .info-container .Loc1{
	background-color: #A21F04;
	color: blue;
}

.main-container .info-container .Loc2{
	background-color: #A21F04;
	color: green;
}

.main-container .info-container .Loc3{
	background-color: #A21F04;
	color: orange;
}
.main-container .info-container .add{
	color: black;
	font-family: "Impact";
	font-size: 20px;
	position: relative;
    left:390px;
}

.main-container .info-container .icon a{
	float: left;
	position: relative;
	top: -80px;
    left:900px;
    margin-left: 20px;
}