body {
	font: 12px "Helvetica", Arial, sans-serif;
	background-color: #FDFCF0;
}
.container {
	width: 60%;
	margin-left: 20%;
}
.top-util ul, .top-util li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.top-util-left {
	font-size: 10px;
	line-height: 25px;

}
#top-util-right {
	font-size: 14px;
	float: right;

}
.util-logo {
	width: 25px;
	height: 25px;
	margin-right: 5px;
	float: left;
}
a {
	text-decoration: none;
	color: black;
	display: block;
}
a:hover {
	text-decoration: underline;
}
header {
	background: url('images/header-bg.png');
	height: 120px;
}
.clear {
	clear: both;
}
.logo {
	width: 240px;
	height: 60px;
	float: left;
	margin: 30px 30px 0 0;
}
.head-nav {
	float: left;
	margin-top: 60px;
	position: relative;
	margin-left: 50px;
}
.cul-logo {
	position: absolute;
	top: -40px;
    left: 250px;
}
.head-nav ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	float: left;
}
.head-nav ul li a {
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	text-decoration: none;
}
.main-container {
	background: url('images/bricks-bg.png');
	margin-top: 10px;
	min-height: 450px;
}